*{
    position: relative;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #e1e1e1;
    
    
}

a{
    text-decoration: none;
    color: #00408B;
}
.u-cf::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* 字體設定 */
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.sub{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.par{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.status{

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
      
}
  



/* navbar */
.wrapper{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
    top: 0;
   
}
.navbar{
    background-color: #4A90E2;
    
}
.menu{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menu li{
    display: inline-block;
    margin-right: 30px;
    
}
.menu a{
    text-align: center;
    display: block;
    padding: 10px;
    
    
}

.menu a::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #ffffff;
    bottom: 3px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    transition: all 0.3s;
}
.menu li:hover a::after{
    width: 100px;
    
}
.menu li .current::after{
    width: 100px;
    
} 
.menu li .current{
    color: #ffffff;
}

/* add task */

.main{
    width: 30%;
    height: 200px;
    margin-top: 5%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translatex(-50%);
    
}

.addlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addlistinput{
    border-radius: 5px;
    border: 2px solid #c8c8c8;
    padding: 14px;
    width: 100%;
    
}
.addlist ::placeholder{
    color: #c8c8c8;
    margin: 20px;
}

.addinf{
    display: none;
    background-color: #4A90E2;
}
.addlist input:active .addinf{
    display: block;
}


.list{
    margin-top: 20px;
    display: inline-flex;
    background-color: #FFF2DC;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.listtitle{
    display: inline-block;

}
.listtitle i{
    color: #757575;
}

